services:
  service-auth:
    build: ./auth
    environment:
      DB_HOST: ${AUTH_DB_HOST}
      DB_USER: ${AUTH_DB_USER}
      DB_PASS: ${AUTH_DB_PASS}
      DB_NAME: ${AUTH_DB_NAME}
      DB_PORT: ${AUTH_DB_PORT}
    depends_on:
      - auth-db
    networks:
      - backend
    volumes:
      - ./auth/dist/uploads:/app/dist/uploads

  auth-db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_PASSWORD: ${AUTH_DB_PASS}
      POSTGRES_DB: ${AUTH_DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - auth_data:/var/lib/postgresql/data
    networks:
      - backend

  service-habits:
    build: ./habits
    environment:
      DB_HOST: ${HABITS_DB_HOST}
      DB_USER: ${HABITS_DB_USER}
      DB_PASS: ${HABITS_DB_PASS}
      DB_NAME: ${HABITS_DB_NAME}
      DB_PORT: ${HABITS_DB_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    depends_on:
      - habits-db
      - redis
    networks:
      - backend

  habits-db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${HABITS_DB_USER}
      POSTGRES_PASSWORD: ${HABITS_DB_PASS}
      POSTGRES_DB: ${HABITS_DB_NAME}
    ports:
      - "5436:5432"
    volumes:
      - habits_data:/var/lib/postgresql/data
    networks:
      - backend

  service-records:
    build: ./records
    environment:
      DB_HOST: ${RECORDS_DB_HOST}
      DB_USER: ${RECORDS_DB_USER}
      DB_PASS: ${RECORDS_DB_PASS}
      DB_NAME: ${RECORDS_DB_NAME}
      DB_PORT: ${RECORDS_DB_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      HABITS_API: ${HABITS_API_BASE}
    depends_on:
      - records-db
      - redis
      - service-habits
    networks:
      - backend

  records-db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${RECORDS_DB_USER}
      POSTGRES_PASSWORD: ${RECORDS_DB_PASS}
      POSTGRES_DB: ${RECORDS_DB_NAME}
    ports:
      - "5437:5432"
    volumes:
      - records_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - backend

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "${NGINX_PORT}:8080"
    depends_on:
      - service-auth
      - service-habits
      - service-records
    networks:
      - backend

volumes:
  auth_data:
  habits_data:
  records_data:

networks:
  backend:
    driver: bridge
